@inherits LayoutComponentBase

<div class="page">
    <div class="has-background-light">
        
        <NavMenu></NavMenu>
        
        <Section class="section">
            <div class="container" style="min-height: 100vh;">
                <div class="content">
                    @Body
                </div>
            </div>

        </Section>


    </div>

</div>
