<Message Color="Color.Primary">
    <strong>@Title</strong>
    Please take <a target="_blank" class="font-weight-bold link-dark" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a> and tell us what you think.
</Message>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
